body {
    font-family: 'Arial', sans-serif;
    background-color: white;
}

p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #272626;
    color: white;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #202020;
    border-bottom: 1px solid #000000;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: white;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    background: #fcfbfb;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.panel {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    transition: background 0.3s;
}

.panel:hover {
    background: #f9f9f9;
    cursor: pointer;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}
